@import "../assets/colors";
@import "../assets/buttons";
@import "../assets/navbar";
@import "../assets/animation";
@import "../assets/cards";
@import "../assets/layout";
@import "../assets/mediaqueries";


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap");

//_base.scss

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: center;
  }
}

.block-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  bottom: 0;
}

.main-headline {
  font-weight: 700;
  font-size: clamp(3.3rem, 12vw, 4.3rem);
  overflow: hidden;
  color: $text-clr;
  margin-bottom: 0.5em;
}

.main-headline:nth-of-type(1) {
  margin-bottom: -0.4em;
}

.main-video {
  display: none;
  z-index: -2;

  //   position: fixed;
  //   right: 0;
  //   bottom: 0;
  //   min-width: 100%;
  //   min-height: 100%;
}

/// section

// section {

//   // font-size: 3em;
//   // scroll-snap-align: start;
//   // text-align: center;
// }
.bg-cases {
  background-color: teal;
  background: url("https://images.unsplash.com/photo-1634017839464-5c339ebe3cb4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
  background: url("https://images.unsplash.com/photo-1618556450991-2f1af64e8191?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1064&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 175vh;
  background-attachment: fixed;
  background-attachment: fixed;
}
//

// .section-1 {
//   //1
//   background: url("https://images.unsplash.com/photo-1635771531470-d2ab477fac93?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1965&q=80");
// }

// .section-2 {
//   background: url("https://images.unsplash.com/photo-1635924941939-2b58521c61fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=763&q=80");
// }

// //

// .section-3 {
//   background-color: pink;
//   background: url("https://images.unsplash.com/photo-1635865653470-8976db975eaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
// }

// //

// .section-4 {
//   background: url("https://images.unsplash.com/photo-1635373670332-43ea883bb081?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1881&q=80");
// }

// .section-5 {
//   background: url("https://images.unsplash.com/photo-1622730000579-e6bde344d6a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
// }
// .section-6 {
//   background: url("https://images.unsplash.com/photo-1630152389714-46b8c393f555?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
// }

// .section-7 {
//   background: url("https://images.unsplash.com/photo-1633876841461-772d2b0b0e39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2031&q=80");
// }
// .bg-fx {

//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   z-index: 2;
// }
// .bg-fx-right {
//   background-attachment: fixed;
//   background-attachment: fixed;
//   background-position: right;
//   background-repeat: no-repeat;
//   background-size: cover;
//   z-index: 2;
// }

// .container-section {
//   scroll-snap-type: y mandatory;
//   overflow-y: scroll;
//   height: 100vh;
// }

////////////////////////////////

.so-many-shadows {
  text-shadow: 0.025em 0.025em 0 tomato, 0.05em 0.05em 0 blueviolet,
    0.075em 0.075em 0 teal, 0.1em 0.1em 0 black;
}

//////Cards

/////cards end

//// about
.about-text {
  display: flex;
  width: 84.5vw;
  justify-content: space-between;
  flex-wrap: wrap;

  p {
    padding-left: 7.73vw;
  }
}
.headline,
.cases-headline {
  font-size: clamp(1rem, 7.5vw, 3.5rem);
  font-weight: 600;
  letter-spacing: -0.055em;
  line-height: 91.8%;
  margin-bottom: 13.6vw;
}

.cases-headline {
  padding-top: 13.6vw;
}

.color-text {
  color: $accent-clr;
}

// slider text
// @keyframes bannermove {
//   0% {
//     transform: translateX(-50%);
//   }
//   100% {
//     transform: translateX(0%);
//   }
// }

.about-pic {
  margin: 0 auto;
  width: 68vw;
}

.profile-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;

  border-radius: 3%;
  box-shadow: 0 0 0 1px tomato, 0 0 0 2px blueviolet, 0 0 0 3px teal,
    0 0 0 4px black, 0 0 0 5px #405378;

  border-radius: 3%;
}

.profile-pic:hover {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.profile-pic-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 1;
  background: rgba(70, 92, 218, 0.25);
  backdrop-filter: blur(1px);
}

.about-pic {
  position: relative;
}
.about-pic:hover .profile-pic-overlay {
  opacity: 0;
}
.skills {
  margin-bottom: 13.6vw;

  .iconify {
    color: $accent-clr;
    margin-right: 0.3rem;
  }
}
.skills-list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 13.5rem;
  height: 4rem;
  width: 60vw;
}

.skills-item {
  margin: 0.2rem 0;
  font-size: 3.73vw;
}

.skills-item:nth-of-type(2) {
  margin-right: 0.9vw;
}
////about end

.nav-logo.nav-scrolled {
  text-shadow: 0 3px 20px rgba(#fff, 0.2);
  text-shadow: 0.025em 0.025em 0 tomato, 0.05em 0.05em 0 blueviolet,
    0.075em 0.075em 0 teal, 0.1em 0.1em 0 black;
}

.nav-scrolled {
  background-color: $accent-clr;
}
