@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap");
.btn {
  color: #fff;
  background-color: transparent;
  padding: 2vw 0;
  text-transform: uppercase;
  border: 1px solid #E79B25;
  transition: 0.6s;
  cursor: pointer;
  text-align: center;
  width: 20vw;
}
.btn a {
  color: #fff;
  font-weight: 500;
  font-size: 2vw;
}

.btn:hover {
  background-color: #E79B25;
  outline: 2px solid #fff;
  outline-offset: -0.3rem;
}
.btn:hover a {
  color: #fff;
  transition: 0.1s;
  font-weight: 600;
}

.connect-btn {
  margin-left: 7.73vw;
  background-color: #111;
  outline: 2px solid #111;
  outline-offset: -0.3rem;
}
.connect-btn:hover {
  background-color: #E79B25;
  border: 1px solid #111;
  outline-offset: -1px;
  box-shadow: rgba(231, 155, 37, 0.4) 5px 5px, rgba(231, 155, 37, 0.3) 10px 10px, rgba(231, 155, 37, 0.2) 15px 15px, rgba(231, 155, 37, 0.1) 20px 20px, rgba(231, 155, 37, 0.05) 25px 25px;
}
.connect-btn:hover a {
  color: #fff;
  transition: 0.1s;
  font-weight: 600;
}

.resume-btn {
  padding: 1em 0;
  width: 8rem;
  background-color: #E79B25;
  outline: 0.05rem solid #fff;
  outline-offset: -0.3rem;
  margin-left: 1em;
}
.resume-btn a {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}
.resume-btn:hover {
  background-color: #111;
  outline: 2px solid #E79B25;
  outline-offset: -0.3rem;
}
.resume-btn:hover a {
  color: #fff;
  transition: 0.1s;
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
}

.nav-menu {
  position: fixed;
  top: -100vh;
  left: 0;
  flex-direction: column;
  background: rgba(247, 247, 247, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  transition: 0.5s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  height: 100vh;
  justify-content: flex-start;
}

.bar {
  display: block;
  width: 2.5rem;
  height: 0.13rem;
  margin: 0.5rem auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  text-shadow: 0 10px 27px rgba(0, 0, 0, 0.89);
}

.bar:nth-of-type(2) {
  display: block;
  width: 2rem;
  height: 0.15rem;
  margin: 0.5rem auto;
  margin-right: 0;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.bar:nth-of-type(3) {
  display: block;
  width: 1.5rem;
  height: 0.16rem;
  margin: 0.5rem auto;
  margin-right: 0;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

#hamburger-button {
  background-color: transparent;
  border: none;
}

.nav-menu.active {
  top: 0;
  padding-top: 5rem;
}

.nav-item {
  border-top: 1px solid rgba(204, 204, 204, 0.774);
  padding: 1em;
  padding-left: 2em;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}
.nav-link span {
  float: right;
}

.nav-link:hover {
  color: #fff;
  transition: 0.5s;
  border-bottom: 2px solid #fff;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  z-index: 4;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 10;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(0.5rem) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-0.8rem) rotate(-45deg);
  width: 2.5rem;
}

.type-writer-container {
  padding: 0 0.5rem;
  margin: 0 auto;
  font-family: monospace, sans-serif;
  min-height: 50vh;
  display: grid;
  place-content: center;
  text-align: center;
}
.type-writer-container h1 {
  font-size: clamp(0.8rem, 6vw, 4rem);
  position: relative;
  font-family: monospace, sans-serif;
  color: #fff;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.type-writer-container h1::before, .type-writer-container h1::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.type-writer-container h1::before {
  background-color: #111;
  -webkit-animation: typewriter 6s steps(25) 1s forwards;
          animation: typewriter 6s steps(25) 1s forwards;
}
.type-writer-container h1::after {
  width: 0.125em;
  background-color: white;
  -webkit-animation: typewriter 6s steps(25) 1s forwards, blink 500ms steps(25) infinite;
          animation: typewriter 6s steps(25) 1s forwards, blink 500ms steps(25) infinite;
}

.subtitle {
  color: #fefefe;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  opacity: 0;
  transform: translateY(3rem);
  -webkit-animation: fadeInUp 2s ease 8s forwards;
          animation: fadeInUp 2s ease 8s forwards;
}

@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@-webkit-keyframes blink {
  to {
    background-color: black;
  }
}
@keyframes blink {
  to {
    background-color: black;
  }
}
@-webkit-keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-top {
  -webkit-animation: fade-in-top 1.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in-top 1.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.nav-logo {
  color: #E79B25;
}

.color-text:hover,
.nav-logo:hover {
  -webkit-animation: color-rotate 1s;
          animation: color-rotate 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  font-weight: 700;
}

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
          animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@media only screen and (max-width: 960px) {
  .container-case {
    padding-top: 1em;
  }

  .case-item {
    margin: 1em;
  }

  .card {
    height: 350px;
    width: 250px;
    background: rgba(247, 247, 247, 0.25);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 13px;
    box-shadow: 0 3px 20px rgba(17, 17, 17, 0.2);
    margin: 0 auto;
  }

  .card-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .img-size {
    height: 280px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    border-radius: 13px 13px 0 0;
  }

  .card-text {
    position: relative;
    margin: 0 1em;
  }

  .card-titel {
    font-size: 3em;
    position: absolute;
    bottom: 1.5em;
    left: -33px;
    font-weight: bold;
  }

  .card-category {
    margin-top: 0.5rem;
  }

  .card-link {
    color: white;
    background: transparent;
  }
  .card-link .iconify {
    font-size: 1.5rem;
    margin-bottom: -0.4rem;
    margin-left: 0.1rem;
  }

  .card-link-options {
    display: flex;
    justify-content: space-between;
    padding-top: 0.6rem;
    width: 13rem;
    margin-left: 0.1rem;
  }

  .bg-color-rect,
.showcase-content {
    display: none;
  }
}
.about-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.profile-pic {
  display: block;
  max-width: 100%;
}

.stack-picture {
  width: 85%;
  max-width: 400px;
  transition: 0.25s ease;
}
.stack-picture:hover {
  transform: rotate(5deg);
}
.stack-picture:hover .card:before {
  transform: translateY(-2%) rotate(-4deg);
}
.stack-picture:hover .card:after {
  transform: translateY(2%) rotate(4deg);
}

.card-picture {
  aspect-ratio: 3/2;
  border: 4px solid #929292;
  background-color: #fff;
  position: relative;
  transition: 0.15s ease;
  cursor: pointer;
  padding: 5% 5% 15% 5%;
}
.card-picture:before, .card-picture:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 4px solid #929292;
  background-color: #fff;
  transform-origin: center center;
  z-index: -1;
  transition: 0.15s ease;
  top: 0;
  left: 0;
}
.card-picture:before {
  transform: translatey(-2%) rotate(-6deg);
}
.card-picture:after {
  transform: translatey(2%) rotate(6deg);
}

.card-picture-content {
  width: 100%;
  border: 4px solid;
  background-color: #eee;
  aspect-ratio: 1/1;
  position: relative;
}

.browser-warning {
  margin-bottom: 4rem;
}

@supports (aspect-ratio: 1/1) {
  .browser-warning {
    display: none;
  }
}
@media only screen and (min-width: 960px) {
  .case-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .case-item {
    margin-bottom: 33rem;
  }

  .card {
    position: absolute;
    height: 350px;
    width: 250px;
    background: rgba(247, 247, 247, 0.25);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 13px;
    box-shadow: 0 3px 20px rgba(17, 17, 17, 0.2);
    top: 10rem;
    left: 4.5vw;
    z-index: 3;
  }

  .card-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    border-radius: 13px 13px 0 0;
  }

  .img-size {
    height: 280px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    border-radius: 13px 13px 0 0;
    transform: scale(1);
    transition: 0.3s ease-in-out;
  }
  .img-size:hover {
    transform: scale(1.3);
  }

  .card-text {
    position: relative;
    margin: 0 1em;
  }

  .card-titel {
    font-size: 3em;
    position: absolute;
    bottom: 1.5em;
    left: -33px;
    font-weight: bold;
  }

  .card-category {
    margin-top: 0.5rem;
  }

  .card-link {
    color: white;
    background: transparent;
  }
  .card-link .iconify {
    font-size: 1.5rem;
    margin-bottom: -0.4rem;
    margin-left: 0.1rem;
  }

  .card-link-options {
    display: flex;
    justify-content: space-between;
    padding-top: 0.6rem;
    width: 13rem;
    margin-left: 0.1rem;
  }

  .showcase-container {
    position: relative;
    margin: 1em;
  }

  .showcase-size {
    height: 360px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: -3px;
    border-radius: 13px 13px 0 0;
  }

  .showcase-content {
    position: relative;
    overflow: hidden;
  }
  .showcase-content::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
  }
  .showcase-content:hover::before {
    -webkit-animation: shine 0.75s;
            animation: shine 0.75s;
  }

  @-webkit-keyframes shine {
    100% {
      left: 125%;
    }
  }

  @keyframes shine {
    100% {
      left: 125%;
    }
  }
  .showcase-content {
    position: absolute;
    right: 3.5vw;
    background: rgba(247, 247, 247, 0.25);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 13px;
    outline: 1rem solid rgba(247, 247, 247, 0.25);
    z-index: 2;
  }

  .bg-color-rect {
    position: absolute;
    z-index: 1;
    background: rgba(247, 247, 247, 0.25);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 13px;
    box-shadow: 0 3px 20px rgba(17, 17, 17, 0.2);
    height: 380px;
    width: 100%;
    border-radius: 13px;
    transform: skewY(-20deg);
  }
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: #111;
  counter-reset: section;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  z-index: 90;
  position: fixed;
  width: 100%;
}

.section-about,
.container-case,
.contact {
  margin-bottom: 41.6vw;
  margin-left: auto;
  margin-right: auto;
  width: 84.5vw;
}

.section-about,
.cases {
  min-height: 100vh;
}

.contact {
  height: 50vh;
  margin-bottom: 21.6vw;
}

.cases {
  margin-bottom: 14.6vw;
  min-height: 170vh;
}

.section-headline {
  margin: 4.6vw 0;
  font-size: 3.54rem;
  color: #E79B25;
  -webkit-text-stroke: 1px #E79B25;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #111;
}

.headline-white {
  -webkit-text-stroke: 1px #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #111;
}

.section-headline::before {
  position: relative;
  bottom: 0;
  margin-right: 0.5rem;
  margin-left: 1vw;
  font-weight: 700;
  color: #E79B25;
}

.pd {
  padding-top: 2rem;
}

.about-text {
  display: flex;
  width: 84.5vw;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-text p {
  padding-left: 7.73vw;
}

.headline,
.cases-headline {
  font-size: clamp(1rem, 7.5vw, 3.5rem);
  font-weight: 500;
  letter-spacing: -0.055em;
  line-height: 91.8%;
  margin-bottom: 5vw;
}

.cases-headline {
  padding-top: 13.6vw;
}

.color-text {
  color: #E79B25;
}

.skills {
  margin-bottom: 8.6vw;
  padding-right: 2.5rem;
}
.skills .iconify {
  color: #E79B25;
  margin-right: 0.3rem;
  margin-bottom: -0.3rem;
}

.skills-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.skills-item {
  margin: 1.2rem 0;
}
.skills-item p {
  opacity: 0.9;
}

.skills-item:nth-of-type(2) {
  margin-right: 0.9vw;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 85vw;
  text-align: center;
  padding-top: 2rem;
}

.footer-contact-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 57vw;
}

.footer-contact-container {
  margin-bottom: 1rem;
}

.iconify {
  color: #fff;
  font-size: 1.5rem;
}
.iconify:hover {
  color: #E79B25;
}

.footer-contact-item {
  transition: all 0.3s ease-in-out;
}
.footer-contact-item:hover {
  color: #E79B25;
  transform: translateY(-13px);
}

.footer-credits {
  margin: 0 auto;
}

.text {
  font-size: 3.73vw;
  letter-spacing: -0.01em;
  line-height: 132%;
  margin-bottom: 11.2vw;
  opacity: 0.85;
  width: 81vw;
}

.credit-text {
  margin-bottom: 1rem;
}

.fixed-contact-content,
.fixed-email-right {
  display: none;
}

.fx {
  display: flex;
}

.color-number {
  font-size: 1rem;
  font-weight: 300;
  margin-right: 0.5rem;
  color: #E79B25;
}

.bg-cases {
  background-color: teal;
  background: url("https://images.unsplash.com/photo-1634017839464-5c339ebe3cb4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
  background: url("https://images.unsplash.com/photo-1618556450991-2f1af64e8191?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1064&q=80");
  background: url("https://images.unsplash.com/photo-1634408997827-191bdb96baa0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-attachment: fixed;
}

@media only screen and (min-width: 960px) {
  header {
    z-index: 90;
    position: fixed;
    width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: transparent;
    height: 4em;
  }

  .nav-link:hover {
    border-bottom: none;
  }

  .navbar {
    /* Fade in */
    /* Slide in */
  }
  .navbar a {
    display: block;
    position: relative;
    padding: 0.2em 0;
  }
  .navbar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #fff;
    opacity: 0;
    transition: opacity 400ms, transform 400ms;
  }
  .navbar li a {
    overflow: hidden;
  }
  .navbar li a::after {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }
  .navbar li a:hover::after,
.navbar li a:focus::after {
    transform: translate3d(0, 0, 0);
  }

  .hamburger {
    display: none;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: unset;
    flex-direction: row;
    background-color: transparent;
    text-align: center;
    height: 100%;
    box-shadow: none;
    width: 50%;
    background-color: transparent;
  }

  .nav-logo {
    width: 100%;
  }

  .nav-item {
    margin-left: none;
    border: none;
  }

  .nav-link {
    font-size: 1em;
    font-weight: 500;
    color: #fff;
  }

  .cases {
    margin-bottom: 11.6vw;
    min-height: 100vh;
  }

  .text {
    font-size: 2.5vw;
  }

  .credit-text {
    font-size: 2vw;
  }

  .headline,
.cases-headline {
    padding-left: 1vw;
  }

  .container-case {
    padding: 0 1vw;
  }

  .fixed-contact-content {
    display: block;
    position: fixed;
    bottom: 0;
    left: 2%;
    z-index: 99;
  }
  .fixed-contact-content::after {
    content: "";
    display: block;
    width: 1px;
    height: 80px;
    margin: 0px auto;
    background-color: transparent;
  }

  .fixed-contact-item {
    margin: 1.5rem 0;
    transition: all 0.3s ease-in-out;
  }
  .fixed-contact-item:hover {
    color: #E79B25;
    transform: translateY(-13px);
  }
  .fixed-contact-item .iconify {
    font-size: 1.5rem;
  }

  .footer-contact-content {
    display: none;
  }

  .fixed-email-right {
    display: block;
    position: fixed;
    bottom: 0;
    right: 2%;
    z-index: 99;
  }
  .fixed-email-right .iconify {
    font-size: 2rem;
  }
  .fixed-email-right::after {
    content: "";
    display: block;
    width: 1px;
    height: 80px;
    margin: 0px auto;
    background-color: transparent;
  }

  .fixed-email-link {
    margin: 1em auto;
    padding: 10px;
    letter-spacing: 0.1em;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
  }
  .fixed-email-link:hover {
    color: #E79B25;
    transform: translateY(-13px);
    -webkit-animation: jello-horizontal 0.9s both;
            animation: jello-horizontal 0.9s both;
  }

  .about-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }

  .text {
    font-size: 1.5vw;
    letter-spacing: -0.01em;
    line-height: 132%;
    margin-bottom: 5.2vw;
    opacity: 0.85;
    width: 42vw;
  }

  .text-container {
    width: 50%;
  }

  .skills-container {
    width: 30vw;
  }

  .skills-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .skills-item {
    margin: 1.2rem 0;
  }
  .skills-item p {
    opacity: 0.9;
    font-size: 1rem;
  }

  .container-contact {
    display: flex;
    justify-content: space-between;
  }

  .footer-container {
    margin-bottom: 0;
  }

  .pd {
    padding-left: 7rem;
    padding-top: 2rem;
  }
}
@media only screen and (min-width: 1240px) {
  .container-case {
    padding: 0 8vw;
  }

  .bg-cases {
    min-height: 245vh;
  }
}
@media only screen and (min-width: 1440px) {
  .container-case {
    padding: 0 10vw;
  }

  .bg-cases {
    min-height: 255vh;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1512551980832-13df02babc9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80");
  background-size: cover;
}
.main video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: center;
}

.block-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  bottom: 0;
}

.main-headline {
  background: url("../IMG/back.png");
  background-size: cover;
  font-weight: 900;
  font-size: clamp(2.5rem, 12vw, 8.3rem);
  overflow: hidden;
  color: #fff;
  margin-bottom: 0.5em;
  padding-left: 7.73vw;
  -webkit-text-stroke: 1px white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: animateHeadline 20s linear infinite;
          animation: animateHeadline 20s linear infinite;
}

.main-headline:nth-of-type(1) {
  margin-bottom: -0.4em;
}

@-webkit-keyframes animateHeadline {
  100% {
    background-position: 2000px 0;
  }
}

@keyframes animateHeadline {
  100% {
    background-position: 2000px 0;
  }
}
.so-many-shadows {
  text-shadow: 0.025em 0.025em 0 tomato, 0.05em 0.05em 0 blueviolet, 0.075em 0.075em 0 teal, 0.1em 0.1em 0 black;
}

.nav-scrolled {
  background-color: #E79B25;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.nav-scrolled span,
.nav-scrolled .nav-logo {
  color: #fff;
}

.fade-in {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.fade-in.appear {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */