@import "../assets/colors";
@import "../assets/variables";
@import "../assets/buttons";
@import "../assets/navbar";
@import "../assets/animation";
@import "../assets/cards";
@import "../assets/showcase-projects";
@import "../assets/layout";
@import "../assets/mediaqueries";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap");

//_base.scss

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1512551980832-13df02babc9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80");
  background-size: cover;
  // background-size: contain;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: center;
  }
}

.block-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  bottom: 0;
}

.main-headline {
  background: url("../IMG/back.png");
  background-size: cover;
  font-weight: 900;
  font-size: clamp(2.5rem, 12vw, 8.3rem);
  overflow: hidden;
  color: $text-clr;
  margin-bottom: 0.5em;
  padding-left: 7.73vw;
  -webkit-text-stroke: 1px white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animateHeadline 20s linear infinite;
}
.main-headline:nth-of-type(1) {
  margin-bottom: -0.4em;
}

@keyframes animateHeadline {
  100% {
    background-position: 2000px 0;
  }
}

// .main-video {
//   // display: none;
//   z-index: -2;

//   //   position: fixed;
//   //   right: 0;
//   //   bottom: 0;
//   //   min-width: 100%;
//   //   min-height: 100%;
// }

/// section

// section {

//   // font-size: 3em;
//   // scroll-snap-align: start;
//   // text-align: center;
// }

//

// .container-section {
//   scroll-snap-type: y mandatory;
//   overflow-y: scroll;
//   height: 100vh;
// }

////////////////////////////////

.so-many-shadows {
  text-shadow: 0.025em 0.025em 0 tomato, 0.05em 0.05em 0 blueviolet,
    0.075em 0.075em 0 teal, 0.1em 0.1em 0 black;
}

//////Cards

/////cards end

// slider text
// @keyframes bannermove {
//   0% {
//     transform: translateX(-50%);
//   }
//   100% {
//     transform: translateX(0%);
//   }
// }

// .about-pic {
//   margin: 0 auto;
//   width: 68vw;
// }

// .profile-pic {
//   height: 100%;
//   width: 100%;
//   object-fit: cover;

//   border-radius: 3%;
//   box-shadow: 0 0 0 1px tomato, 0 0 0 2px blueviolet, 0 0 0 3px teal,
//     0 0 0 4px black, 0 0 0 5px #405378;

//   border-radius: 3%;
// }

// .profile-pic:hover {
//   height: 100%;
//   width: 100%;
//   object-fit: contain;
// }

// .profile-pic-overlay {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   transition: 0.5s ease;
//   opacity: 1;
//   background: rgba($accent-clr, 0.5);
// }

// .about-pic {
//   position: relative;
// }
// .card-picture-content:hover .profile-pic-overlay {
//   opacity: 0;
// }

////about end

//

.nav-scrolled {
  background-color: $accent-clr;
  box-shadow: 0 3px 20px rgba(#000, 0.2);

  span,
  .nav-logo {
    color: $text-clr;
  }
}

///

.fade-in {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.fade-in.appear {
  opacity: 1;
}
