@import "../assets/colors";
@import "../assets/variables";
@import "../assets/buttons";
@import "../assets/navbar";
@import "../assets/animation";
@import "../assets/cards";
@import "../assets/showcase-projects";
@import "../assets/layout";
@import "../assets/mediaqueries";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap");

//_base.scss

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1512551980832-13df02babc9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80");
  background-size: cover;
  // background-size: contain;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: center;
  }
}

.block-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  bottom: 0;
}

.main-headline {
  background: url("../IMG/back.png");
  background-size: cover;
  font-weight: 900;
  font-size: clamp(2.5rem, 12vw, 8.3rem);
  overflow: hidden;
  color: $text-clr;
  margin-bottom: 0.5em;
  padding-left: 7.73vw;
  -webkit-text-stroke: 1px white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animateHeadline 20s linear infinite;
}
.main-headline:nth-of-type(1) {
  margin-bottom: -0.4em;
}

@keyframes animateHeadline {
  100% {
    background-position: 2000px 0;
  }
}



.so-many-shadows {
  text-shadow: 0.025em 0.025em 0 tomato, 0.05em 0.05em 0 blueviolet,
    0.075em 0.075em 0 teal, 0.1em 0.1em 0 black;
}


.nav-scrolled {
  background-color: $accent-clr;
  box-shadow: 0 3px 20px rgba(#000, 0.2);

  span,
  .nav-logo {
    color: $text-clr;
  }
}

///

.fade-in {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.fade-in.appear {
  opacity: 1;
}
