//type-writer

$type-speed: 6s;
$type-characters: 25;

.type-writer-container {
  padding: 0 0.5rem;
  margin: 0 auto;
  font-family: monospace, sans-serif;
  min-height: 50vh;
  display: grid;
  place-content: center;
  text-align: center;
  

  h1 {
    font-size: clamp(0.8rem, 6vw, 4rem);
    position: relative;
    font-family: monospace, sans-serif;
    color: #fff;
    position: relative;
    width: max-content;

    &::before,
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &::before {
      background-color: $primary-color;
      animation: typewriter $type-speed steps($type-characters) 1s forwards;
    }
    &::after {
      width: 0.125em;
      background-color: white;
      animation: typewriter $type-speed steps($type-characters) 1s forwards,
        blink 500ms steps($type-characters) infinite;
    }
  }
}
.subtitle {
  color: #fefefe;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 8s forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background-color: black;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

//type-writer end

//fade-in


//keyframe

// fade-intop

.fade-in-top {
  animation: fade-in-top 1.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes color-rotate {
  from {
      filter: hue-rotate(0deg);
  }
  to {
      filter: hue-rotate(360deg);
  }
}

.nav-logo{
  color: $accent-clr;
}
.color-text:hover,
.nav-logo:hover {
  animation: color-rotate 1s;
  animation-iteration-count: infinite; 
  animation-direction: alternate;
  font-weight: 700;
}


.jello-horizontal {
	        animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}