.btn {
  color: $secondary-color;
  background-color: transparent;
  padding: 3vw 0;
  text-transform: uppercase;
  border: 1px solid $accent-clr;
  transition: 0.6s;
  cursor: pointer;
  text-align: center;
  width: 20vw;

  a {
    color: $text-clr;
    font-weight: 500;
    font-size: 2vw;
  }
}

.btn:hover {
  background-color: $accent-clr;
  outline: 2px solid $text-clr;
  outline-offset: -0.3rem;

  a {
    color: $text-clr;
    transition: 0.1s;
    font-weight: 600;
  }
}

.connect-btn {
  margin-left: 7.73vw;
}
