//Primary styles
$text-clr: #fff;
$text-clr2: #4e4e4e;
$text-clr3: #7e7e7e;
$primary-color: #111;
$secondary-color: #fff;
// $accent-clr: rgb(18, 243, 243);
$accent-clr: #ffc140;

$transparent: transparent;
$border-clr: rgb(146, 146, 146);
$gradient: linear-gradient(to top, #111111, #1c1a32, #232354, #272c79, #28349f, #2d36af, #3437bf, #3d37cf, #4931ca, #532bc5, #5b24c0, #621cbb);
