//DESKTOP
@media only screen and (min-width: 960px) {
  header {
    z-index: 90;
    position: fixed;
    width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    // background-color: rgba(17, 17, 17, 0.438);
    background-color: transparent;
    height: 4em;
  }

  // .navbar:hover {
  //   background-color: #111;
  // }

  .hamburger {
    display: none;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: unset;
    flex-direction: row;
    background-color: transparent;
    text-align: center;
    height: 100%;
    box-shadow: none;
    width: 50%;
  }

  //main

  .nav-logo {
    width: 100%;
  }

  .nav-item {
    margin-left: none;
    border: none;
  }

  .nav-link {
    font-size: 1em;
    font-weight: 500;
    color: #fff;
  }

  .nav-link:hover {
    border-bottom: 2px solid #fff;
    transition: 0.4s;
    font-size: 1em;
  }

  .type-writer-container {
    margin: 0 auto;
  }
  .cases {
    margin-bottom: 11.6vw;
    min-height:100vh;
  }

  .text {
    font-size: 2.5vw;
  }

  .credit-text{
    font-size:2vw;
  }
  .headline,
  .cases-headline {
  padding-left: 7.73vw;}


  .skills-list {
    width: 40vw;
  }
  .skills-item {
    font-size: 2.73vw;
  }


  .container-case{
    padding: 0 1vw;
  
  
  
  }
  .bg-cases{
    height:300vh;
    
  }

}


@media only screen and (min-width: 1240px) {

  .container-case{
    padding: 0 8vw;
  
  
  
  }
}
@media only screen and (min-width: 1440px) {

  .container-case{
    padding: 0 10vw;
  
  
  
  }
}